# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.perspectivev3
!default.pbxuser
!default.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (if used later)
Pods/

# Misc
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
